<div class="footer dark-background">
    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6">
                <a href="" class="d-flex align-items-center footer-about">
                    <span class="sitename">Wvizse</span>
                </a>
                <div class="footer-contact pt-3">
                    <p>353 Boulevard du Président Wilson</p>
                    <p>Bordeau 33300</p>
                    <p class="mt-3"><b><u>La Horde :</u></b></p>
                    <p><b>Phone : </b> <a class="footer-link" href="tel:+330535541440" data-wplink-edit="true">05 35 54 14 40</a></p>
                    <p><b>Email : </b><a class="footer-link" href="mailto:contact@lahorde.tech" target="_blank">contact&#64;lahorde.tech</a></p>
                    <p class="mt-3"><b><u>Turing :</u></b></p>
                    <p><b>Phone : </b> <a class="footer-link" href="tel:+330525530286" data-wplink-edit="true">05 25 53 02 86</a></p>
                    <p><b>Email : </b> <a class="footer-link" href="mailto:contact@ecoledeturing.fr" target="_blank">contact&#64;ecoledeturing.fr</a></p>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>Liens Utiles</h4>
                <ul>
                    <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>NOS ÉCOLES</h4>
                <ul>
                    <li><i class="bi bi-chevron-right"></i> <a target="_blank" href="https://lahorde.tech/">La Horde</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a target="_blank" href="https://ecoledeturing.fr/">Turing</a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-12">
                <h4>NOUS SUIVRE</h4>
                <div class="social-links d-flex">
                    <a target="_blank" href="https://x.com/LaHordeTech"><i class="bi bi-twitter-x"></i></a>
                    <a target="_blank" href="https://www.facebook.com/LaHordeTech"><i class="bi bi-facebook"></i></a>
                    <a target="_blank" href="https://www.instagram.com/lahorde.tech"><i class="bi bi-instagram"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/company/la-horde-tech/"><i class="bi bi-linkedin"></i></a>
                    <a target="_blank" href="https://www.twitch.tv/lahordetech"><i class="bi bi-twitch"></i></a>
                    <a target="_blank" href="https://www.youtube.com/channel/UC0GYinyxOCP4dRDALNnwsJg"><i class="bi bi-youtube"></i></a>
                    <a target="_blank" href="https://discord.com/invite/tcnrfGwaPX"><i class="bi bi-discord"></i></a>
                    <a target="_blank" href="https://www.tiktok.com/@lahordetech"><i class="bi bi-tiktok"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© Copyright<b class="px-1 sitename">Wvizse</b>Tout droit réservé</p>
    </div>

</div>