<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top navbar-custom bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" aria-current="page" href="#" (click)="onResetFilters()">Wvizse</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse bg-light" id="menu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 px-2">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Cursus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Métiers Choisis</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Filière</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><h4 class="dropdown-item disabled text-black">La Horde :</h4></li>
                        <ng-container *ngFor="let checkbox of checkboxList">
                            <ng-container *ngIf="checkbox.sector === 'HORDE'">
                                <li class="dropdown-item">
                                    <input type="checkbox" class="form-check-input" [(ngModel)]="checkbox.checked" (change)="onApplyFilters()" [attr.data-filter]="checkbox.value">
                                    <label class="form-check-label" [for]="checkbox.value">{{ checkbox.label }}</label>
                                </li>
                            </ng-container>
                        </ng-container>
                        <li><hr class="dropdown-divider"></li>
                        <li><h4 class="dropdown-item disabled text-black">Turing :</h4></li>
                        <ng-container *ngFor="let checkbox of checkboxList">
                            <ng-container *ngIf="checkbox.sector === 'TURING'">
                                <li class="dropdown-item">
                                    <input type="checkbox" class="form-check-input" [(ngModel)]="checkbox.checked" (change)="onApplyFilters()" [attr.data-filter]="checkbox.value">
                                    <label class="form-check-label" [for]="checkbox.value">{{ checkbox.label }}</label>
                                </li>
                            </ng-container>
                        </ng-container>
                    </ul>
                </li>
            </ul>
            <form class="d-flex px-2 search-bar-container" role="search" (input)="onApplyFilters()">
                <input class="form-control me-2 flex-grow-1" type="search" [(ngModel)]="searchQuery" name="searchQuery" placeholder="Rechercher" aria-label="Search">
            </form>
        </div>
    </div>
</nav>

<div class="container px-0">
    <div class="row gx-5">
        <ng-container *ngFor="let card of cardsList">
            <ng-container *ngIf="card.visible">
                <div class="col-6 col-md-4 col-lg-3 col-xl-2 mb-5 card-container" [attr.sector]="card.sector" [attr.cursus]="card.cursus" [attr.job-tags]="card.tags">
                    <a class="card-linker" href="#">
                        <div class="card border-0 rounded-5 shadow zoom-card">
                            <img [src]="card.picture" class="card-img-fluid rounded-5 shadow">
                            <div class="card-img-overlay d-flex align-items-end p-3">
                                <h1 class="card-title text-center w-100 mb-15">{{card.name}}</h1>
                            </div>
                        </div>
                    </a>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>
