<header class="header d-flex align-items-center fixed-top">
    <div class="container-fluid position-relative d-flex align-items-center justify-content-between">
        <a href="" class="logo d-flex align-items-center me-auto me-xl-0">
            <h1 class="sitename">WVIZSE</h1>
        </a>

        <button class="mobile-nav-toggle d-xl-none" (click)="onToggleMobileMenu()">
            <i class="bi bi-list"></i>
        </button>

        <nav class="navmenu" [class.active]="isMobileMenuActive">
            <ul>
                <li><a href="" class="active">Home</a></li>
                <li><a href="jobs">Métiers</a></li>
                <li><a href="cursus">Cursus</a></li>
                <li><a href="">Métiers Choisis</a></li>
                <li><a href="">Compétences</a></li>
            </ul>
        </nav>

        <div class="header-social-links">
            <a target="_blank" href="https://x.com/LaHordeTech"><i class="bi bi-twitter-x"></i></a>
            <a target="_blank" href="https://www.facebook.com/LaHordeTech"><i class="bi bi-facebook"></i></a>
            <a target="_blank" href="https://www.instagram.com/lahorde.tech"><i class="bi bi-instagram"></i></a>
            <a target="_blank" href="https://www.linkedin.com/company/la-horde-tech/"><i class="bi bi-linkedin"></i></a>
            <a target="_blank" href="https://www.twitch.tv/lahordetech"><i class="bi bi-twitch"></i></a>
            <a target="_blank" href="https://www.youtube.com/channel/UC0GYinyxOCP4dRDALNnwsJg"><i class="bi bi-youtube"></i></a>
            <a target="_blank" href="https://discord.com/invite/tcnrfGwaPX"><i class="bi bi-discord"></i></a>
            <a target="_blank" href="https://www.tiktok.com/@lahordetech"><i class="bi bi-tiktok"></i></a>
        </div>
    </div>
</header>

<main>
    <section id="" class="main section dark-background">
        <div class="container text-center">
            <div class="row justify-content-center" data-aos="zoom-out">
                <div class="col-lg-8">
                <img src="Icon.png" alt="" class="img-fluid mb-3">
                <h2>Welcome To Wvizse</h2>
                <p>Notre site qui te permettra de trouver le métier qui te correspond</p>
                <a href="jobs" class="btn-get-started">Get Started</a>
                </div>
            </div>
            </div>
    </section>
</main>
