.main {
    padding-top: 100px;
}

.selected {
    background-color: rgb(0, 250, 0);
}

.case-clickable{
    transition: background-color 0.3s ease;
}

.case-clickable:hover{
    background-color: gray;
    cursor: pointer;
}

.selected {
    background-color: rgb(0, 250, 0);
    transition: background-color 0.3s ease;
}

.selected:hover {
    background-color: rgb(63, 189, 63);
}

.card-title {
    font-size: 1.3rem;
}


.zoom-card {
    transition: transform 0.3s ease;
}

.zoom-card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.scroll-rect {
    height: 600px;
    width: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}

.new-container{
    margin-left: 275px;
    margin-right: 275px;
}

td, th {
    text-align: center;
    vertical-align: middle;
}

.table-fixed{
    margin-top: 75px;
}

.filter-title{
    color:white;
}

.invisible-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.star-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 10px;
    font-size: 24px;
    color: #ccc;
    transition: color 0.3s ease, transform 0.3s ease;
}

.star-button:hover {
    color: gold;
    transform: scale(1.1);
}

.star-button:active {
    color: darkorange;
    transform: scale(1.2);
}

.star-button-selected {
    color: gold;
}

.star-button-selected:hover {
    color: darkgoldenrod;
}

.card-img-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}